body,li,td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#login {
	width:250px;
	float: left;
}

table {
	background-color: #cccccc;
}

hr {
    color: #3333cc;
    width: 300;
    text-align: left
}

a {
    color: #000000
}